.video-container {
  width: 75%;
  height: 100%;
  margin: 0;
}

.video-info {
  width: 75%;
  padding: 15px;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background: linear-gradient(to bottom, #141414, #181818);
}

.link a {
  text-decoration: underline;
  color: #ffffff;
}

.video-title {
  text-align: center;
  margin: 0 auto 10px auto;
  width: 50%;
}
